.flex_container {
    display: flex;
    background: lightblue;
    border: 2px solid blue;
    padding: 16px;
    height: 100px;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.flex_container div {
    background: rgb(140, 145, 146);
    border: 2px solid rgb(23, 23, 31);
    padding: 4px;
    height: 50px;
    width: 25%;
}

/* {
    display: flex;
    background: rgb(255, 202, 246);
    border: 3px solid rgb(101, 2, 131);
    padding: 3px;
    gap: 8px; 

}
.item { 
    background: rgb(199, 92, 176);
    border: 1px solid rgb(39, 3, 36);
    padding: 4px;
    height: 15px;
    flex: 1;
} */